#productDetailPage {
    margin-top: 16px;
}

#productDetailPage .column.image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    border-width: 2px;
    border-radius: 3px;
    border-style: none none dashed none;
}

#productDetailPage .column.content {
    min-height: 500px;
    padding-bottom: 156px;
    border-width: 2px;
    border-radius: 3px;
    border-style: none none dashed dashed;
}

#productDetailPage .bannerImage {
    background-position: center center;
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 0 150px 0 150px;
}

#productDetailPage h1 {
    color: rgb(50, 116, 116);
    margin: 16px 0;
    font-size: 36px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#productDetailPage .description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#productDetailPage .priceSection {
    position: absolute;
    bottom:72px;
    padding-top: 5px;
    border-top: 1px dashed rgb(150, 82, 82);
}

@import url('https://fonts.googleapis.com/css?family=Sofia');

#productDetailPage .price {
    font-family: "Sofia", sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-left: 16px;
}

#productDetailPage .notes {
    font-family: monospace;
    padding-left: 16px;
}

#productDetailPage .addCartSection {
    position: absolute;
    bottom:0;
    margin-bottom: 16px;
    padding-left: 16px;
}

#productDetailPage .addcart-button {
    margin-left: 10px;
}


#productDetailPage .toastContainer {
    position: fixed;
    /* top: 56px; */
    right: 32px;
    bottom: 56px;
}

#productDetailPage h3.commentHeader {
    margin-top: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#productDetailPage .emptyCommentText {
    text-align: center;
    color: rgb(19, 43, 150);
}

@media screen and (min-width: 768px) {
    #productDetailPage .commentItem {
        border-bottom: 2.3px dotted rgb(85, 9, 68);
        border-radius: 8px;
        background-color: rgb(248, 248, 248);
        margin-bottom: 8px;
        min-height: 80px;
    }

    #productDetailPage .content {
        padding-top: 8px;
        font-weight: bold;
        word-break: break-all;
    }

    .writer-section-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 767px) {
    #productDetailPage .commentItem {
        border-bottom: 2.3px dotted rgb(85, 9, 68);
        border-radius: 8px;
        background-color: rgb(248, 248, 248);
        margin-bottom: 8px;
        min-height: 80px;
    }

    #productDetailPage .content {
        padding-top: 8px;
        font-weight: bold;
        word-break: break-all;
    }

    .writer-section-container {
     
    }
}



#productDetailPage .commentButton {
    margin: 16px 0 16px 0;
}
