#shoppingCartPage .table td, #shoppingCartPage .table th {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-style: oblique 10deg;
}


#shoppingCartPage .Image-background {
    background-image: linear-gradient(160deg, #EADEDB 20%,#BC70A4 50%, #c5c2aa 75%);
}

#shoppingCartPage .cartImg {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: cover;
}


#shoppingCartPage .price-tag {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    font-style: oblique;
    margin-right: 10%;
}


#shoppingCartPage .checkoutButton {
    margin-bottom: 24px;
}



