
#productListingPage {
    text-align: center;
}


#productListingPage .inlineblock {
    display: inline-block;
    vertical-align: top;
}

#productListingPage .productContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 720px;
}

#productListingPage .productCard {
    width: 230px;
    height: 284px;
    margin: 5px;
}

#productListingPage .productCard .image {
    width: 230px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#productListingPage .productCard .text {
    margin-top: 10px;
    color: blue;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 12px;
}

#productListingPage .productCard .card-footer .footer {
    color: red;
    padding: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block;
    height: 22px;
}



@media screen and (min-width: 1320px) {
    #productListingPage .block {
        width: 358px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1319px) {
    #productListingPage .block {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

#productListingPage .subBlock1 {
   width: 330px;
   height: 450px;
   background-image: url(https://i.pinimg.com/564x/c5/c9/bd/c5c9bdb0b792248218692786d2d525cb.jpg);
   background-position: center center;
   background-repeat: "no-repeat";
   background-size: "cover";
   border-radius: 16px;
   margin: 16px;
}

#productListingPage .subBlock2 {
    width: 330px;
    height: 450px;
    background-image: url(https://i.pinimg.com/564x/e9/2d/b8/e92db82e1143380bf6dff9a808ca7f25.jpg);
    background-position: center center;
    background-repeat: "no-repeat";
    background-size: "cover";
    border-radius: 16px;
    margin: 16px;
 }


.centerCropped {
    object-fit: none; /* Not Scale the image */
    object-position: center; /* Center the image within the element */
}