#quantityControl {
    display: inline-block;
}
  
#quantityControl .modifier {
    width: 40px;
    height: 40px;
    background: #f3f3f3;
    color: #888;
    border: 0 solid #dbdbdb;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 0 rgba(#fff, .6);
    cursor: pointer;
    margin: 5px;
    
}
  
#quantityControl .screen {
    vertical-align: middle;
    width: 64px;
    height: 36px;
    padding: .2rem;
    font-size: 1.1rem;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}