.screen {
    user-select: none;
    outline: none;
  }
  
.modifier {
    display: inline-block;
    background: #a2a2a3;
    border: 0.5px solid #141414;
    border-radius: 2px;

    color: rgb(25, 77, 32);
    text-align: center;
    text-shadow: 0 1px 0 rgba(rgb(41, 39, 39), .9);

    cursor: pointer;
}
  
  
.screen {
    display: inline-block;
    width: 3rem;
    padding: .2rem;
    font-size: 1.2rem;

    border: 0;
    border-top: 0 solid #dbdbdb;
    border-bottom: 0 solid #dbdbdb;
    text-align: center;
}
