#completePageBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(54deg,#20344b 35%, #c42a2a);
}

#completePage h3 {
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#completePage .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed rgb(255, 255, 255);
    border-radius: 16px;
    padding: 36px;
}

#completePage .button {
    text-align: center;
}

#completePage .button > button {
    display: inline-block;
    margin-top: 36px;
    width: 75%;
    border: 2px solid rgb(255, 255, 255);
    border-radius:8px;
}