.loginPage-background {
    position: "absolute";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(54deg,#20344b 35%, #c42a2a);
}

#loginPage {
    padding: 40px;
}

#loginPage .loginPanel {
    width: 75%;
    max-width:600px;
    min-height: 600px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 16px 32px;
}

#loginPage h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

#loginPage .submitButton {
    position: relative;
    font-weight: bold;
    margin-bottom: 16px;
}

#loginPage h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
    text-align: center;
}

#loginPage .googleButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 16px;
}
