#landingPageContainer {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1144&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

#landingPage {
    width:100%;
    max-width: 700px;
    height: 100%;
    min-height: 650px;
}

@import url('https://fonts.googleapis.com/css?family=Sofia');

#landingPage h1 {
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: rgb(46, 39, 39);
    padding-left: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    border-bottom: 2px solid #fff;
}

#landingPage img {
    border-radius: 16px;
}

#landingPage button {
    margin-top: 32px;
}
