.registryPage-background {
    position: "absolute";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(54deg,#941a1a 15%,  #20344b);
}

#registryPage {
    padding: 40px;
}

#registryPage .loginPanel {
    width: 75%;
    max-width:600px;
    min-height: 515px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 16px 32px;
}

#registryPage h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

#registryPage .submitButton {
    position: relative;
    font-weight: bold;
    margin: 16px 0 16px 0;
}
