#checkoutPage .heading {
    text-align: center;
    font-family: "Brush Script MT", cursive;
    color:rgb(141, 21, 21);
    font-weight: 900;
    font-size: 32px;
}

#checkoutPage .table td, #checkoutPage .table th {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-style: oblique 10deg;
}

#checkoutPage .Image-background {
    background-image: linear-gradient(160deg, #EADEDB 20%,#BC70A4 50%, #c5c2aa 75%);
}

#checkoutPage .cartImg {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
}

#checkoutPage .price-tag {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    font-style: oblique;
    margin-right: 10%;
}

#checkoutPage .button {
    min-height: 50px;
    margin-bottom: 20px;
}