.App {
    /* background-color: rgb(226, 213, 213); */
}


@import url('https://fonts.googleapis.com/css?family=Leckerli One');
.App #head {
    font-family: 'Leckerli One';
    margin-left: 25%;
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    color: rgb(255, 255, 255);
    background-image: url("https://media.macphun.com/img/uploads/customer/blog/1563197047/15632021585d2c926e9e2961.83352159.jpg?q=85&w=2520");
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    width: 50%;
    opacity: 0.8;
}

.App .icon-label {
    display: inline-block;
    padding-right: 5px;
}

.App #webpage-footer {
    display: block;
    width: 100%;
    height: 55px;
    background-color:rgb(207, 196, 196);
}

.App #webpage-footer.Inactive{
    display: none;
}

.App #footer-text {
    position: relative;
    display: inline-block;
    font-style: italic;
    left: 16px;
    top: 16px;
}


.App .loadingOverlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 9999;
}

.App .loadingOverlay.active {
    display: block;
}

.App .loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}